# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Output do Vite e Build
dist/
dist-ssr/
build/

# SvelteKit
.svelte-kit/

# Testing
coverage/
playwright-report/
blob-report/
test-results/

# Variáveis de ambiente
.env
.env.local
.env.*.local
!.env.example

# Editor de Código
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SO (Arquivos de Sistema)
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
